<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("URL Shortener") }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ title | default("YUSUF URL Shortener") }}</h1>
	<h1>This simple web app will help you generate a shorten url and stores it in the database</h1>
        {% block content %}
        
        {% endblock %}
    </div>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>
